<div class="wrapper">
  <div class="box register">
    <p> Register </p>
    <%= image_tag('sign-up.png') %>
  </div>
  <div class="box takeTest">
    <p> Personality Test </p>
    <%= image_tag('takeTest.png') %>
  </div>
  <div class="box chooseActivities">
    <p> Choose Activities </p>
    <%= image_tag('chooseActivities.png') %>
  </div>
  <div class="box getMatches">
    <p> Get Matches </p>
    <%= image_tag('getMatches.png') %>
  </div>

</div>