  <h1>Chat</h1>

  <div id='messages'>

  </div>
  <div class="userInput">
    <textarea name='message'></textarea>
    <button id='send'>Send</button>
  </div>
  <ul>
    <% @personalities.each do |personality| %>
      <li><button name='<%=personality%>'><%=personality%></button></li>
    <%end%>
  </ul>
