MakeChannel = function(ptype,user){
  if(App.chat) App.cable.subscriptions.remove(App.chat)
  App.chat = App.cable.subscriptions.create({channel: "ChatChannel",user:user, personality: ptype}, {
    connected: function () {
      $('#messages').html('')
      this.perform('getChannel',{ptype: ptype})
    },
    disconnected: function() {
    },
    received: function(data) {
      if(data['messages']) {
        for(x in data['messages']){
          $('#messages').append('<div><p><img src="' +  data['messages'][x].pImage + '" width=30>' + '<b> ' + data['messages'][x].name + ' </b>' + data['messages'][x].body.replace(/<\/+script>/g,'') + '</p></div>')
        }
      }else{
          $('#messages').append('<div><p><img src="' + data['ptype'] + '" width=30><b>' + data['name'] + '</b>: ' + data['message'].replace(/<\/+script>/g,'') + '</p></div>')
        }
    },
    speak: function(data) {
      this.perform('speak', {message: data, personality: ptype});
    }
  });
}
