// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: #43edd8;
$dark-grey: #4e4e4e;

.chatWrap{

   h2{
    margin-bottom: 0;
  }
}
section{
  margin-bottom: 8px;
}

.loginForm p{
  margin: 0;
}
.chatWrap .messageArea{
  height: 100%;
}
.messageArea{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#messages{
    overflow-y: auto;
}
.userInput textarea{
  width: 500px;
  border: 1px solid $primary-color;
  border-radius: 8px;
}

.channelGroup{
  width:80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  button{
    width: 150px;
    height: 40px;
    background-color: white;
    color: $primary-color;
    border: 2px solid $primary-color;
    font-size: 1.1em;
    font-weight: bold;
  }
}

button {
  margin-top: 10px;
  width: 60px;
  height: 30px;
  border-radius: 8px;
  letter-spacing: .1em;
  background-color: $primary-color;
  color: white;
  font-size: .9em;
  border: none;
}
button:focus {
      outline: none;
      background-color: $primary-color;
      color: white;
      box-shadow: 4px 4px 7px #b8b8b8;
      transition: background-color 0.5s ease;
    }

button:hover{
  opacity: .7;
  box-shadow: 4px 4px 7px #b8b8b8;
  transition: .6s;
}

@media only screen and (max-width: 800px){
  .userInput textarea{
  width: 200px;
  }
  .channelGroup{
    flex-wrap: wrap;
    width: 90%;

    button{
      margin: 5px;
      font-size: .7em;
      width: 100px;
    }
  }

}

