// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//font-family: 'Montserrat', sans-serif;
//font-family: 'Roboto', sans-serif;

body {
  font-family: 'Roboto', sans-serif;
  color: #050607;
  /* Use at your own discretion */
  -webkit-transform: translateZ(0);
}

nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #fff;

  img {
    align-self: flex-end;
  }

  a{
    padding: 10px 30px 0 0;
    text-decoration: none;
    color: #0ee0bd;
    font-size: 1.2em;
  }

  a:hover{
    font-weight: bold;
    color: #050607;
  }
}

.wrapper{
  background-color: #f4f4f4;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;

  .box, .loginForm{
    background-color: #fff;
    width: 280px;
    height: 300px;
    padding: 25px;
    margin: 130px 0;
    box-shadow: 15px 11px 51px 0px rgba(184,184,184,1);
    display: flex;
    flex-direction: column;
    justify-content: center;
      p {
        color: #0ee0bd;
        text-align: center;
        font-size: 1.4em;
      }
      img{
        max-height: 250px;
        max-width: 250px;
        align-self: center;
      }
    }
      .box:hover{
        animation: pop 0.6s linear 1;
      }
      @keyframes pop{
        50%  {transform: scale(1.2);}
      }
  }
footer{
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 2px solid #0ee0bd;

  .footerText, .social {
    align-self: center;
    padding-right: 30px;
  }

  img{
    padding-left: 16px;
    border-radius: 45%;
  }
  img:hover{
    opacity: .5;
    box-shadow: 15px 11px 51px 0px rgba(184,184,184,1);
  }

}

#modal {
  background: white;

  position: fixed;
  border: 1px solid #dedede;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #dedede;
  width: 50%;
  height: 400px;
  top: 70%;
  left: 50%;
  margin: -25% 0 0 -25%;
  padding-top: 20px;

  /* Embiggen */
  transform: scale(1.5); /* prefix me */
  /* Hidden */
  opacity: 0;
  pointer-events: none;

  .register{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2{
      color: #0ee0bd;
      font-size: 1.4em;
    }

    label{
      color: #4e4e4e;
    }

    input{
      width: 400px;
      border-radius: 5px;
      height: 20px;
      margin: 10px;
    }
  }
}

.dialogIsOpen .wrapper {
  /* Blur and de-color */
  -webkit-filter: blur(5px) grayscale(50%);
  /* Recede */
  -webkit-transform: scale(0.9);
}
.dialogIsOpen #modal {
  /* Regular size and visible */
  transform: scale(1); /* prefix me */
  opacity: 1;
  /* Clickable */
  pointer-events: auto;
}
.wrapper, #modal {
  transition: all 0.8s ease;
}

.loginForm{
  color: #0ee0bd;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 3px solid #0ee0bd;
    border-radius: 10px;
    justify-content: flex-start;
    padding: 0;
    height: 400px;

    form input[type=email], form input[type=password]{
      width: 200px;
      border-radius: 5px;
      height: 20px;
      margin: 10px;
    }
}
    form input[type=submit]{
      background-color: white;
      color: #0ee0bd;
      border: 1px solid #0ee0bd;
      max-width: 30%;

    }

.assessment{
  margin-top:20px;
  margin-bottom: 20px;

  .tf-slide-deck-container{
    font-family:'Roboto', sans-serif;

      .caption{
        background-color: #4e4e4e;
        opacity: .9;
      }
      .progress-bar{
        background-color: #0ee0bd;
      }
      .me{
        background-color: #0ee0bd;
      }
      .me:hover{
        opacity: .8;
      }
      .not-me{
        background-color: #4e4e4e;
      }
      .not-me:hover{
        opacity: .8;
      }
  }

}





