// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//font-family: 'Montserrat', sans-serif;
//font-family: 'Roboto', sans-serif;

$primary-color: #0ee0bd;


body {
  font-family: 'Roboto', sans-serif;
  color: #050607;
  /* Use at your own discretion */
  -webkit-transform: translateZ(0);
}

nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #fff;

  img {
    align-self: flex-end;
  }

  a{
    padding: 10px 30px 0 0;
    text-decoration: none;
    color: $primary-color;
    font-size: 1.1em;
  }

  a:hover{
    letter-spacing: .1em;
  }
}

.wrapper{
  background-color: white;
  border-top: 2px solid $primary-color;

  border-bottom: 2px solid $primary-color;

  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;

  .box{
    background-color: #fff;
    width: 280px;
    height: 300px;
    padding: 25px;
    margin: 130px 0;
    box-shadow: 15px 11px 51px 0px rgba(184,184,184,1);
    display: flex;
    flex-direction: column;
    justify-content: center;
      p {
        color: $primary-color;
        text-align: center;
        font-size: 1.4em;
      }
      img{
        max-height: 250px;
        max-width: 250px;
        align-self: center;
      }
    }
      .box:hover{
        animation: pop 0.9s linear 1;
      }
      @keyframes pop{
        50%  {transform: scale(1.2);}
      }
  }
footer{
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid $primary-color;

  .footerText, .social {
    align-self: center;
    padding-right: 30px;
  }

  img{
    padding-left: 16px;
    border-radius: 45%;

    &:hover{
      opacity: .5;
      box-shadow: 15px 11px 51px 0px rgba(184,184,184,1);
    }
  }

}

#modal {
  background: white;

  position: fixed;
  border: 1px solid #dedede;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #dedede;
  width: 50%;
  height: 400px;
  top: 70%;
  left: 50%;
  margin: -25% 0 0 -25%;
  padding-top: 20px;

  /* Embiggen */
  transform: scale(1.5);
  /* Hidden */
  opacity: 0;
  pointer-events: none;

  .register{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2{
      color: $primary-color;
      font-size: 1.4em;
    }

    label{
      color: #4e4e4e;
    }

    input{
      width: 400px;
      border-radius: 5px;
      height: 20px;
      margin: 10px;
    }
  }
}

.dialogIsOpen .wrapper {
  /* Blur and de-color */
  -webkit-filter: blur(5px) grayscale(50%);
  /* Recede */
  -webkit-transform: scale(0.9);
}
.dialogIsOpen #modal {
  /* Regular size and visible */
  transform: scale(1); /* prefix me */
  opacity: 1;
  /* Clickable */
  pointer-events: auto;
}
.wrapper, #modal {
  transition: all 0.8s ease;
}

    form input[type=submit]{
      background-color: $primary-color;
      color: white;
      border: 1px solid $primary-color;
      max-width: 30%;
      padding-bottom: 10px;

      &:hover{
        opacity: .7;
        box-shadow: 4px 4px 7px #b8b8b8;
        transition: .6s;
      }
    }

.assessment{
  margin-top:20px;
  margin-bottom: 20px;
  width: 80%;
  margin: 20px auto;

  .tf-slide-deck-container{
    font-family:'Roboto', sans-serif;

      .caption{
        background-color: #4e4e4e;
        opacity: .9;
      }
      .progress-bar{
        background-color: $primary-color;
      }
      .me{
        background-color: $primary-color;
      }
      .me:hover{
        opacity: .8;
      }
      .not-me{
        background-color: #4e4e4e;
      }
      .not-me:hover{
        opacity: .8;
      }
  }

}
@media only screen and (max-width: 1335px){
    .wrapper .box{
      margin: 20px 5px 5px;
      border-radius: 10px;
    }
    #modal{
      top: 40%;
    }
 }

@media only screen and (max-width: 870px){
  .wrapper{
    background-color: #fff;
  }
  #modal{
    top: 20%;
    width: 100%;
    left: 25%;
  }
}
@media only screen and (max-width: 500px){
  #modal .register input{
    width: 180px;
  }
  nav{
    flex-wrap: wrap;

  }
}





