$primary-color: #0ee0bd;
$activeColor: #4e4e4e;
$mellow: #05dd71;
$adventure: #91c61e;
$charismatic: #f77e2d;
$social: #ed5858;
$reliable: #dbc628;
$rational: #0598d8;
$thoughtful: #9788f2;

.profileWrapper{
  margin-top: 50px;
  max-width: 1500px;
  h1{
    color: #4e4e4e;
  }
  h2{
    color: #9788f2;
    text-align: center;
  }
}

.inner{
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .typeWrapper, .activityWrapper {
    padding: 10px;
  }

  .activityWrapper{

    input[type="submit"]{
      background-color: #4e4e4e;
      color: white;
      width: 60px;
      height: 30px;
      margin-left: 74%;
      margin-top: 10px;
      border-radius: 8px;
      border: none;
      font-size: .9em;

    &:hover{
      opacity: .7;
    }
  }

  }
  .typeWrapper{
      text-align: center;
      margin-right: 20px;
      flex: 4;
    }

  .matchesWrapper{
  }
}
.checkbox {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;

}
.checkbox_input {
  display: block;
}
.checkbox_input{
  display: none;
}

.checkbox_box{
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 4px solid $primary-color;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

.checkbox:hover .checkbox_box,
.checkbox_input:checked + .checkbox_box {
  background-color: #4e4e4e;
}

.checkbox_input:checked:hover + .checkbox_box {
  background-color: none;
}

.matchesWrapper{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .headline{
    flex: 1 100%;
    border-bottom: 1px solid $activeColor;

    h2{
      margin-bottom: 0;
      font-size: 1.8em;
    }
  }
  .matchesInner{
    margin: 30px;
    border: 2px solid $activeColor;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 10px #b8b8b8;
    flex: 1 25%;

    &:hover{
      box-shadow: none;
    }

    .matchName{
      font-size: 1.4em;
    }
  }
}
.message a {
  text-decoration: none;
}


/******************************
STYLES FOR COLOR CHANGES
*******************************/

.mellowType{
  h1, h2 {
    color: $mellow;
  }
  .message a {
    color: $mellow;
  }
  .checkbox_box {
    border: 4px solid $mellow;
  }
  .matchesWrapper{
    .headline{
      border-bottom: 1px solid $mellow;
    }
    .matchesInner{
      border: 2px solid $mellow;

       h3{
        color:$mellow;
      }

    }
  }
  .activityWrapper input[type="submit"]{
      background-color: $mellow;
    }
}

.thoughtfulType{
  h1, h2 {
    color: $thoughtful;
  }
  .message a {
    color: $thoughtful;
  }
  .checkbox_box {
    border: 4px solid $thoughtful;
  }
  .matchesWrapper{
    .headline{
      border-bottom: 1px solid $thoughtful;
    }
    .matchesInner{
      border: 2px solid $thoughtful;

       h3{
        color:$thoughtful;
      }

    }
  }
  .activityWrapper input[type="submit"]{
      background-color: $thoughtful;
    }
}

.adventureType{
  h1, h2{
    color: $adventure;
  }
  .message a {
    color: $adventure;
  }
  .checkbox_box {
    border: 4px solid $adventure;
  }
  .matchesWrapper{
    .headline{
      border-bottom: 1px solid $adventure;
    }
    .matchesInner{
      border: 2px solid $adventure;

       h3{
        color:$adventure;
      }

    }
  }
  .activityWrapper input[type="submit"]{
      background-color: $adventure;
    }
}

.charismaticType{
  h1, h2{
    color: $charismatic;
  }
  .message a {
    color: $charismatic;
  }
  .checkbox_box {
    border: 4px solid $charismatic;
  }
  .matchesWrapper{
    .headline{
      border-bottom: 1px solid $charismatic;
    }
    .matchesInner{
      border: 2px solid $charismatic;

      h3{
        color:$charismatic;
      }
    }
  }
  .activityWrapper input[type="submit"]{
      background-color: $charismatic;
    }
}

.socialType{
  h1, h2 {
    color: $social;
  }
  .message a {
    color: $social;
  }
  .checkbox_box {
    border: 4px solid $social;
  }
  .matchesWrapper{
    .headline{
      border-bottom: 1px solid $social;
    }
    .matchesInner{
      border: 2px solid $social;

      h3{
        color:$social;
      }
    }
  }
  .activityWrapper input[type="submit"]{
      background-color: $social;
    }
}

.reliableType{
  h1, h2{
    color: $reliable;
  }
  .message a {
    color: $reliable;
  }
 .checkbox_box {
    border: 4px solid $reliable;
  }
  .matchesWrapper{
    .headline{
      border-bottom: 1px solid $reliable;
    }
    .matchesInner{
      border: 2px solid $reliable;

      h3{
        color:$reliable;
      }
    }
  }
  .activityWrapper input[type="submit"]{
      background-color: $reliable;
    }
}

.rationalType{
  h1, h2{
    color: $rational;
  }
  .message a {
    color: $rational;
  }
  .checkbox_box {
    border: 4px solid $rational;
  }
  .matchesWrapper{
    .headline{
      border-bottom: 1px solid $rational;
    }
    .matchesInner{
      border: 2px solid $rational;

      h3{
        color:$rational;
      }
    }
  }
  .activityWrapper input[type="submit"]{
      background-color: $rational;
    }
}

/*********************************
HOVER EFFECTS ON MATCHES
***********************************/

.matchesInner {
  position: relative;
  width: 50%;
  margin: 20px;
  padding-bottom: 60px;
}
.activityList{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-image: linear-gradient(#4e4e4e, #4e4e4e);
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  height:0;
  transition: 1s ease;
}

.matchesInner:hover .activityList {
  bottom: 0;
  height: 100%;

}

.text {
  white-space: wrap;
  width: 96%;
  color: white;
  font-size: .9em;
  position: absolute;
  overflow: hidden;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  p{
    padding: 0;
    margin: 5px 0;
  }
}



@media only screen and (max-width: 870px){
  .inner{
    flex-direction: column;
    justify-content: center;

    .typeWrapper{
      margin: 0 0 20px 0;
    }
    .activityWrapper input[type="submit"]{
      margin-left: 0;
    }

  }
  .activityWrapper{
    width: 60%;
    margin: 0 auto;
  }
  .matchesWrapper{
    width: 90%;
  }
}
@media only screen and (max-width: 600px){
  .matchesWrapper{
    flex-direction: column;
    justify-content: center;

    .matchesInner{
      flex: 1 90%;
      width: 100%;
      margin: 10px auto;
    }
  }
}

















