$primary-color: #0ee0bd;
$activeColor: #4e4e4e;
$mellow: #05dd71;
$adventure: #91c61e;
$charismatic: #f77e2d;
$social: #ed5858;
$reliable: #dbc628;
$rational: #0598d8;
$thoughtful: #9788f2;

.profileWrapper{
  margin-top: 50px;
  h1{
    color: #4e4e4e;
  }
  h2{
    color: #9788f2;
    text-align: center;
  }
}

.inner{
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .typeWrapper, .activityWrapper {
    padding: 10px;
  }

  .activityWrapper{

    input[type="submit"]{
      background-color: #4e4e4e;
      color: white;
      width: 60px;
      height: 30px;
      margin-left: 78%;
      margin-top: 10px;
      border-radius: 8px;
      border: none;
      font-size: .9em;

    &:hover{
      opacity: .7;
    }
  }

  }
  .typeWrapper{
      text-align: center;
      margin-right: 20px;
      flex: 4;
    }

  .matchesWrapper{
  }
}


.checkContainer{
  display: flex;
  justify-content: space-between;
}
.checkLabel{
  align-self: center;
}


.squaredTwo {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 10px 0;

  background-color: $activeColor;
  border-radius: 5px;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  display: inline-block;
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    background-color: white;
    left: 4px;
    top: 4px;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    /*&:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #4e4e4e;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    } */
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}

.checkedBox label{
    background-color: #4e4e4e;
    opacity: .7;

}

.matchesWrapper{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .headline{
    flex: 1 100%;
    border-bottom: 1px solid $activeColor;

    h2{
      margin-bottom: 0;
      font-size: 1.8em;
    }
  }
  .matchesInner{
    margin: 30px;
    border: 2px solid $activeColor;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 10px #b8b8b8;
    flex: 1 25%;

    &:hover{
      box-shadow: none;
    }
  }
}
/******************************
STYLES FOR COLOR CHANGES
*******************************/

.mellowType{
  h1, h2{
    color: $mellow;
  }
  .squaredTwo {
    background-color: $mellow;
  }
  .matchesWrapper{
    .headline{
      border-bottom: 1px solid $mellow;
    }
    .matchesInner{
      border: 2px solid $mellow;

      h3{
        color:$mellow;
      }
    }
  }
  .activityWrapper input[type="submit"]{
      background-color: $mellow;
    }
}

.thoughtfulType{
  h1, h2{
    color: $thoughtful;
  }
  .squaredTwo {
    background-color: $thoughtful;
  }
  .matchesWrapper{
    .headline{
      border-bottom: 1px solid $thoughtful;
    }
    .matchesInner{
      border: 2px solid $thoughtful;

      h3{
        color:$thoughtful;
      }
    }
  }
  .activityWrapper input[type="submit"]{
      background-color: $thoughtful;
    }
}

.adventureType{
  h1, h2{
    color: $adventure;
  }
  .squaredTwo {
    background-color: $adventure;
  }
  .matchesWrapper{
    .headline{
      border-bottom: 1px solid $adventure;
    }
    .matchesInner{
      border: 2px solid $adventure;

      h3{
        color:$adventure;
      }
    }
  }
  .activityWrapper input[type="submit"]{
      background-color: $adventure;
    }
}

.charismaticType{
  h1, h2{
    color: $charismatic;
  }
  .squaredTwo {
    background-color: $charismatic;
  }
  .matchesWrapper{
    .headline{
      border-bottom: 1px solid $charismatic;
    }
    .matchesInner{
      border: 2px solid $charismatic;

      h3{
        color:$charismatic;
      }
    }
  }
  .activityWrapper input[type="submit"]{
      background-color: $charismatic;
    }
}

.socialType{
  h1, h2{
    color: $social;
  }
  .squaredTwo {
    background-color: $social;
  }
  .matchesWrapper{
    .headline{
      border-bottom: 1px solid $social;
    }
    .matchesInner{
      border: 2px solid $social;

      h3{
        color:$social;
      }
    }
  }
  .activityWrapper input[type="submit"]{
      background-color: $social;
    }
}

.reliableType{
  h1, h2{
    color: $reliable;
  }
  .squaredTwo {
    background-color: $reliable;
  }
  .matchesWrapper{
    .headline{
      border-bottom: 1px solid $reliable;
    }
    .matchesInner{
      border: 2px solid $reliable;

      h3{
        color:$reliable;
      }
    }
  }
  .activityWrapper input[type="submit"]{
      background-color: $reliable;
    }
}

.rationalType{
  h1, h2{
    color: $rational;
  }
  .squaredTwo {
    background-color: $rational;
  }
  .matchesWrapper{
    .headline{
      border-bottom: 1px solid $rational;
    }
    .matchesInner{
      border: 2px solid $rational;

      h3{
        color:$rational;
      }
    }
  }
  .activityWrapper input[type="submit"]{
      background-color: $rational;
    }
}

/*********************************
HOVER EFFECTS ON MATCHES
***********************************/

.matchesInner {
  position: relative;
  width: 50%;
  margin: 20px;
  padding-bottom: 60px;
}
.activityList{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-image: linear-gradient(#4e4e4e, #4e4e4e);

  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  height:0;
  transition: 1s ease;
}

.matchesInner:hover .activityList {
  bottom: 0;
  height: 100%;

}

.text {
  white-space: wrap;
  width: 96%;
  color: white;
  font-size: .9em;
  position: absolute;
  overflow: hidden;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  p{
    padding: 0;
    margin: 5px 0;
  }
}



@media only screen and (max-width: 870px){
  .inner{
    flex-direction: column;
    justify-content: center;

    .typeWrapper{
      margin: 0 0 20px 0;
    }

  }

}


