<footer>

 <div class="footerText">

  </div>

  <div class="social">
    <%= image_tag("fbIcon.png") %>
    <%= image_tag("twitterIcon.png") %>
    <%= image_tag("pinterestIcon.png") %>
  </div>


</footer>